<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Figtree-Bold.ttf</string>
		<string>Figtree-Light.ttf</string>
		<string>Figtree-Medium.ttf</string>
		<string>Figtree-Regular.ttf</string>
		<string>Figtree-ExtraBold.ttf</string>
		<string>Figtree-SemiBold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>voip</string>
		<string>remote-notification</string>
		<string>fetch</string>
		<string>audio</string>
		<string>processing</string>
	</array>
    <key>NSMicrophoneUsageDescription</key>
    <string>This app would like to access your microphone for making and receiving calls.</string>
</dict>
</plist>
